
<!DOCTYPE html>
  {{- if .Site.IsServer -}} {{ "<!-- _default: baseof.html -->" | safeHTML }} {{- end -}}
  <html lang="{{ .Page.Language | default "en" }}">
    {{ partial "head.html" . }}
  <body>
    {{ block "header" . }} {{ partial "home-navigation.html" . }} {{ end }}
    {{ block "main" . }} {{ .Content }} {{ end }}

    {{ block "custom-comments" . }}{{ partial "custom-comments.html" . }} {{ end }}
    {{ block "home-footer" . }} {{ partial "home-footer.html" . }} {{ end }}
    {{ block "custom-footer" . }}{{ partial "custom-footer.html" . }} {{ end }}
    {{ block "scripts" . }} {{ partial "script.html" }} {{ end }}
  </body>
  </html>

{{- if .Site.IsServer -}} {{ "<!-- End _default : baseof.html -->" | safeHTML }} {{- end -}}