@import "__auto-complete.scss";
@import "_perfect-scrollbar.min.scss";

body {
  font-size: 16px;
}

.t-center {
  text-align: center;
}

.j-center {
  justify-content: center;
}

.logo {
  padding: .5rem 1rem;
}

.navigation img {
  width: 180px;
}

.navigation .navbar-collapse{
  justify-content: flex-end;
}

.navigation .navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem;
  color: #000;
}

.navigation .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #0b75b4;
}

.button-wrapper {
  margin-left: 40px;
  position: relative;
}
.button-wrapper a {
  outline: none;
  text-decoration: none;
}

.button-link {
  padding: 0 20px;
  color: #000;
  height: 50px;
  line-height: 50px;
}

.button-link.btn-transparent {
  background-color: transparent;
}

.button-link.btn-transparent::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: 2px solid #000;
  border-radius: 5px;
  transition: all .3s;
}

.button-link.btn-transparent::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  background-color: #000;
  transition: all .3s;
  transform: scale(0.5,0.5);
}

.button-link.btn-transparent:hover {
  color: #fff;
}


.button-link.btn-transparent:hover::after {
  opacity: 1;
  transform: scale(1.1);
  background-color: #000;
  border-radius: 5px;
}

.button-link.btn-transparent span {
  display: inline-block;
}

.button-link.btn-transparent span.button-text {
  padding-right: 10px;
}

.button-link.btn-transparent span.button-icon {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4.5px 0 4.5px 6px;
  border-color: transparent transparent transparent #000;
}

.button-link.btn-transparent:hover span.button-icon {
  border-color: transparent transparent transparent #fff;
}

.navigation-default.sticky {
  position: fixed!important;
  top: -1px;
  background: #fff;
  background-color: #fff;
  padding: 0;
  left: 0;
  right: 0;
  z-index: 9;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  animation: headerSlideDown .95s ease forwards;
}

@keyframes headerSlideDown{
  0% {
    margin-top: -100px;
  }
  100% {
      margin-top: 0;
  }
}

/**** Footer *****/

.footer-navigation {
  display: flex;
}

.footer-navigation ul {
  padding-left: 0;
}

.footer-navigation ul li {
  list-style: none;
  padding: 10px 15px;
}

.footer-navigation ul li a {
  text-decoration: none;
  color: #000;
}

.copyright {
  padding: 10px 0;
}

.copyright a {
  color: #0b75b4;
  transition: all .5s ease;
}

.copyright a:hover {
  color: #000;
  text-decoration: none;
}

/***** home page ******/

.about-section {
  padding: 100px 0;
}

.about-summary-wrapper {
  padding-bottom: 100px;
}

.text-title {
  margin-bottom: 30px;
}


/******* Documetation Pages ********/

.doc-navigation img {
  width: 180px;
}

.doc-navigation {
  background-color: #000;
}

.doc-navigation .navbar-collapse{
  justify-content: flex-end; 
}

.doc-navigation .navbar-light .navbar-nav .nav-link {
  color: #fff;
}



.doc-navigation .button-link {
  color: #fff;
}

.doc-navigation .button-link.btn-transparent::before {
  border: 2px solid #fff;
  z-index: 0;
}

.doc-navigation .button-link.btn-transparent::after {
  background-color: #fff;
}

.doc-navigation .button-link.btn-transparent:hover::after {
  background-color: #fff;
  z-index: 1;
  
}

.doc-navigation .button-link.btn-transparent:hover span.button-icon,.doc-navigation .button-link.btn-transparent:hover span.button-text {
  color: #000000;
  position: relative;
  z-index: 11;
}

.doc-navigation .button-link.btn-transparent span.button-icon {
  border-color: transparent transparent transparent #fff;
}

.doc-navigation .navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem;
}

.doc-navigation .button-link.btn-transparent:hover span.button-icon {
  border-color: transparent transparent transparent #000000;
}

.doc-navigation.navigation-default.sticky  {
  background-color: #000;
  padding: 0;
  left: 0;
  right: 0;
  z-index: 9;
  box-shadow: 0 8px 20px 0 rgba(255, 255, 255, 0.1);
  animation:none;
}

/******** side navigation ********/

#sidebar {
  position: fixed;
  top: 70px;
  left: 0;
  overflow-Y: auto;
  height: 100%;
  font-weight: 400;
  font-size: 15px;
}

.side-navigation-wrapper {
  background-color: #000000;
  padding-top: 15px;
}
.side-nav-section .topic-title ul {
  list-style: none;
}

.side-nav-section .topic-title {
  padding-left: 0;
}

.side-nav-section .topic-title ul {
  padding-left: 0;
}

.side-nav-section .topic-title ul li ul {
  padding-left: 30px;
}

.side-nav-section .topic-title li a  {
  display: block;
  text-decoration: none;
}

.side-nav-section .topic-title li a {
  color: #0b75b4;
}

.side-nav-section .topic-title li a:hover {
  color: #0b75b4;
}

#sidebar ul li.active > a {
  background: #fff;
  color: #777 !important;

}

.side-nav-section ul > li > ul > li > a {
  line-height: 2rem;
  font-size: 1.1rem;
}

.side-nav-section .topic-title li ul li a {
  padding-left: 25px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 5px;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}



/********** searchbox *********/

.searchbox {
  margin-top: 1rem;
  position: relative;
  border: 1px solid #0b75b4;
  background: #0b75b4;
  border-radius: 4px;
}
.searchbox label {
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 10px;
  top: 3px;
}

.searchbox label .fa {
  font-weight: 900;
}

.searchbox input {
  display: inline-block;
  color: #fff;
  width: 100%;
  height: 30px;
  background: transparent;
  border: 0;
  padding: 0 25px 0 30px;
  margin: 0;
  font-weight: 300;
}

/*.searchbox span {
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  right: 10px;
  top: 3px;
  cursor: pointer;
}*/

.search-wrapper {
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}






@media only screen and (max-width:991px) {
  .navigation .navbar-nav {
    text-align: center;
  }
  .navigation .navbar-expand-lg .navbar-nav .nav-link {
    padding: .5rem;
  }
}

@media only screen and (max-width:767px) {
  .navigation img {
    width: 150px;
  }
 
}
